/*************************************************
    UTILITIES
 *************************************************/
 :root {
	--color-primary: #9792e4;
	--color-secondary: #0084fd;
	--color-tertiary: #b5ddff;
	--color-contrast: #fcc060;
	--color-text: #424242;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.debug {
    border: 1px solid red;
}

body{
    font-family: 'PT Sans', sans-serif;
    line-height: 1.7;
}

.container{
    max-width: 98%;
    margin: 0 auto;
}

 /***margin***/
 .mt20 {
    margin-top:20px;
}

.mt30 {
    margin-top:30px;
}

.mt50 {
    margin-top:50px;
}

.mb20 {
    margin-bottom:20px;
}

.mb30 {
    margin-bottom:30px;
}

.mb50 {
    margin-bottom:50px;
}

.mrg{
    margin: 15px;
}

  /*padding*/
.px-10{
    padding: 0 10px;
}

.py-10{
    padding: 10px 0;
}

.px-20{
    padding: 0 20px;
}

.py-20{
    padding: 20px 0;
}

.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}

/*************
    FLEX - UTILITIES 
*************/
.d-flex{
    display:flex;
} 

.jf-between{
    justify-content:space-between;
}

.f-center{
    justify-content:center;
    align-items:center;
}

.items-center{
    align-items:center;
}

.gap-10{
    gap: 10px;
}

/*************
    generic - UTILITIES 
*************/
img{
    width: 100%;
    display: block;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.btn{
    border-radius: 20px;
    padding: 5px 30px;
    font-weight: bold;
    display: inline-block;
}

.txt-center{
    text-align: center;
}

.big-icon{
    margin: 20px 0px;
    font-size: 5em;
    color: var(--color-secondary);
}

.bg-secondary{
    background-color: var(--color-tertiary);
}

/************************************************
    HEADER
 ************************************************/
header{
    background-color: var(--color-secondary);
    padding: 15px 20px;
    color: white;
}
 /**nav**/
 .bars-menu{
    font-size: 1.5em;
 }

nav ul{
    display: none;
}

 .btn-nav{
    background-color: white;
    color: var(--color-text);
 }

 /**nav: HOVER **/
.bars-menu:hover nav ul{

 }

 /************************************************
    MAIN
 ************************************************/
 .even{
    background-color: var(--color-primary);
 }

 /**section 1 demo-application**/

 .card{
    border-radius: 10px;
}

.text-card h4{
    color: var(--color-secondary);
    margin-bottom: 20px;
    font-size: 1.5em;
}

 .btn-appstore{
    letter-spacing: 5px;
    margin: 30px 0px;
    background-color: var(--color-secondary);
}
 /**section 2 planning**/
#planning{
    padding: 50px 0;
}
#planning .card{
    padding: 100px 0 50px 0px;
}
 #strategic-card{
    color: white;
}

#strategic-card h3{
    font-size: 2em;
    text-align: center;
    margin: 50px 0;
}

#strategic-card h4{
    font-size: 3em;
    margin: 50px 0;
    color: white;
}

#delopement-card{
    background-color: white;
    border-radius: 50px;
}

#delopement-card i{
    display: inline-block;
    background-color: var(--color-primary);
    font-size: 2em;
    padding: 20px;
    border-radius: 50%;
}
 /**section 3 partners**/

 /**section 4 benefits**/

 /**section 5 about-us**/

 /**SECTION 6 pricing**/


 /************************************************
    FOOTER
 ************************************************/
footer{
    background-color: var(--color-text);
    color: white;
}

 /************************************************
    MEDIA QUERY
 ************************************************/

@media screen and (min-width: 768px) {
    .card-wrapper{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    }

    .card{
        width: calc(100% / 3 - 30px);
    }

    .card:first-child{
        flex-basis: calc(65% - 21px)
    }

    #planning .container{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        
    }

    #strategic-card, #planning .card {
        width: calc(100% - 30px)
    }

  

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }

    .bars-menu{
        display: none;
    }

    nav ul{
        display: flex;
        gap: 20px;
        align-items: center;
    }
    #planning .container{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 30px
    }

    #strategic-card {
        width: 70%
    }
    #planning .card{
        width: 30%;
    }

   nav{
        padding: 0px 15px;
    }
}